@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,600&display=swap');

.App {
    font-family: 'Titillium Web', sans-serif;
}

body {
    background-color: #2d2d37;
}

h2 {
    color: white;
    text-align: center;
}


.item {
    background-color: #e64944;
    color: white;
    width: 20%;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 4%;
    padding: 0.25%;
    margin: auto;
    margin-top: 2%;
}

.item.completed {
    background-color: #d17d7c;
    text-decoration: line-through;
  }


  button {
    background-color: #e64944;
    border: 1px solid #e64944;
    color: white;
    font-size: 16px;
    padding: 6px 14px;
    border-radius: 10px;
    font-family: 'Titillium Web', sans-serif;
  }

  button:hover {
      color: #e64944;
      background-color: white;
  }


.submitBtn {
    margin-left: 1.5%;
}

form {
  margin-top: 3%;
}

.formBottom {
  text-align: center;
}

